extends ../shared/layout.pug

block content
    h1.text-center User List
    form(action="/users/search", method="GET").w-50.mx-auto.text-center.mb-3.border.p-3
        input(type="text", name="q", value=q).form-control.mb-3
        button(type="submit").btn.btn-primary Search
    ul.list-group.w-50.m-auto
        each user in users
            li.list-group-item.d-flex.justify-content-between.align-items-center
                span= user.name + ' '
                a(href=`/users/${user.id}`).btn.btn-info View
        else
            li.list-group-item.text-center There is no users